{% block sidebar %}



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">Все трюки были выполнены на максимальной сложности с одной жизнью</h5>
            <div class="card-body">
                <p class="card-text"> Все рассказанное выполнил BlazToise</p>
                <a href="#" class="btn btn-danger">Если вы не понимаете, пишите комментарии</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}