{% block sidebar %}



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">All tricks were completed on maximum difficulty with one life</h5>
            <div class="card-body">
                <p class="card-text"> did all the work BlazToise</p>
                <a href="#" class="btn btn-danger">If you do not unterstand write comments</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}